{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="robust-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
                    <div class="card border-grey border-lighten-3 m-0">
                        <div class="card-header no-border">
                            <div class="card-title text-xs-center">
                                <div class="p-1">
                                    <img src="{{ asset('images/logo/robust-logo-dark.png') }}" alt="branding logo">
                                </div>
                            </div>
                            <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>S'indentifier sur OchidCreation Stats</span></h6>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                {#
                                    La balise center ne s'utilise plus
                                #}
                                <center>
                                    {% if error %}
                                        <div class="alert alert-danger">
                                            {{ error.messageKey|trans(error.messageData, 'security') }}
                                        </div>
                                    {% endif %}

                                    <form action="{{ path("fos_user_security_check") }}" method="post">
                                        {% if csrf_token %}
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                        {% endif %}

                                        <fieldset class="form-group has-feedback has-icon-left mb-0">
                                            <label for="username">{{ 'security.login.username'|trans }}</label>
                                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                        </fieldset>

                                        <fieldset class="form-group has-feedback has-icon-left">
                                            <label for="password">{{ 'security.login.password'|trans }}</label>
                                            <input type="password" id="password" name="_password" required="required" />
                                        </fieldset>
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                                        <input type="submit" class="btn btn-primary btn-lg btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                    </form>

                                </center>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="">
                                <p class="float-sm-left text-xs-center m-0"><a href="recover-password.html" class="card-link">Recuperer Password</a></p>
                                <p class="float-sm-right text-xs-center m-0">Nouveau ? <a href="{{ path('fos_user_registration_register') }}" class="card-link">S'inscrire</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

